service: tfm-cristina # NOTE: update this with your service name
#app: tfm-cristina
#tenant: tfmcrireca

provider:
  name: aws
  runtime: python3.6
  region: "${file(./config.yml):region}"
  memorySize: 256
  deploymentBucket:
    name: "${file(./config.yml):bucket}"
  role: "${file(./config.yml):role2}"
  plugins:
    - serverless-python-requirements

functions:
  Consultas:
    handler: lambda_functions/handler.handler
    runtime: python3.6
    events:
      - http:
          path: services/{service}/region/{region}
          method: get
          cors: true
          integration: lambda
          request:
            parameters:
              querystrings:
                count: false
            template:
              application/json: '{"service" : "$input.params(''service'')", "region":"$input.params(''region'')"}'
		
      - http:
          path: services/{service}/region/{region}/state/{state}
          method: get
          cors: true
          integration: lambda
          request:
            parameters:
              querystrings:
                count: false
            template:
              application/json: '{"service" : "$input.params(''service'')", "region":"$input.params(''region'')", "state":"$input.params(''state'')"}'